# data in facebook takedowns
facebook_takedowns/data/

# ignore congif folder
_config/

# ignore general data
_data/

# ignore cache and checkpoints
.ipynb_checkpoints/
__pycache__/

# ignore files
process_twitter_api/get_followers_description.ipynb
